@model ERPManager.Web.Models.CoolCompany.CoolComModel
@{
    ViewData["Title"] = Localize.GetLocaleString("Create");
    Layout = Layout = null;//"~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="CoolCom" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrUpdateCoolCom", Model)
    <button type="button" onclick="InsertTableItem(this,'@("/CoolCom/Create")')" class="btn btn-info btn-right"><i class="fa fa-check" aria-hidden="true"></i> @Localize.GetLocaleString("Create")</button>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#createOrEditFormModalHeader").addClass("color-header");
    });

</script>